* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* shared style  */
.btn-primary {
    background-color: #E76F51;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 1.25rem;
}
.section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.section-description {
    color: #E0E0E0;
    font-size: 1rem;
    line-height:1.5rem;
    letter-spacing: 0.5px;
}
/* header start */
header {
    background-color: #264653bb;
}
/* nav start */
nav {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    color: #fff;
    font-size: 2.5rem;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.25rem;
}
nav ul li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
}
.ham-burger{
    display: none;
}
/* nav end */

/* banner start */
.banner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.50rem 0;
}
.banner .banner-txt-box {
    max-width: 500px;
    margin-top: 1rem;
}
.banner .banner-txt-box h1 {
    color: #fff;
    font-size: 3.333vw;
    margin: 1.2rem 0;
}
.banner .banner-txt-box > button {
    margin-top: 1.2rem;
    padding: 0.6rem 2.5rem;
}
/* banner end */

/* header end */

/* featured start */
.featured {
    max-width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
}
.featured h5 {
    text-align: center;
    color: #E76F51;
    margin-top: 1rem;
    text-decoration: underline;
}
.bike-box {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.bike {
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.grey {
    filter: grayscale(100%);
}
.bike img {
    width: 85%;
    height: 250px;
}
/* featured end */

/* latest news start */
.latest {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom:5rem ;
}
.news-box {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.news-card {
    padding:1.5rem ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.news-card img {
    width: 100%;
}
.news-txt {
    text-align: left;
    padding-top: 1.5rem;
}
.news-txt p {
    font-size: 1rem;
    line-height: 24px ;
    letter-spacing: 0.5px;
    color: #6C6C6C;
    margin-top: 1rem;
}
.news-txt button {
    margin-top: 1.5rem;
    width: 50%;
}
.news-txt .unique-btn {
    background-color:transparent;
    color: #E76F51;
    font-size: 1rem;
    border: 2px solid #E76F51;
    border-radius: 5px;
    padding: 0.6rem 1.25rem;
}
/* latest news end */

/* client start */
.client {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom:5rem ;
}
.client-box {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
    padding-top: 4rem;
    text-align: center;
}
.client-card {
    padding:2.5rem  ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.client-card img {
    width: 150px;
}
.client-card p {
    font-size: 1rem;
    line-height: 24px ;
    letter-spacing: 0.5px;
    color: #6C6C6C;
    margin-top: 1rem;
}
.client-card h4 {
    margin-top: 1rem;
    font-weight:600;
}
/* client end */

/* FAQ start */
.FAQ {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom:5rem ;
}
.FAG-box {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
/* .FAQ-img-box img {
    width: 100%;
} */
.FAQ-txt-parent-box {
    max-width: 560px;
}
.FAQ-txt-parent-box .child-box {
    /* border: 2px solid #D5E5FB; */
    box-shadow:  #D5E5FB 0px 1px 4px;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1.2rem;
}
.FAQ-txt-parent-box .child-box p {
    font-size: 1rem;
    line-height: 24px ;
    letter-spacing: 0.5px;
    color: #6C6C6C;
    margin-top: 1rem;
}
/* FAQ end */

/* footer start */
footer {
    background-color: #0B0D17;
    color: #fff;
}
.footer-main-box {
    max-width:80%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}
.footer-main-txt-box {
    color: #fff;
    opacity: 90%;
    font-size: 1rem;
    line-height: 24px ;
    letter-spacing: 0.5px;
}
.footer-main-txt-box .txt-box1{
    display: flex;
    gap: 2rem;
}
.footer-main-txt-box .txt-box2{
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.footer-main-txt-box .txt-box3 {
    margin-top: 2rem;
}
.footer-2nd-txt-box p {
    color: #fff;
    opacity: 90%;
    font-size: 1rem;
    line-height: 24px ;
    letter-spacing: 0.5px;
}
.footer-2nd-txt-box img {
    width: 140px;
}
/* footer end */